<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <ul>
      <header>
      Registration Form
      </header>
      <form action="/register" method="POST">
        <input type="email" name="email">
        <input type="password" name="password">
        <input type="submit" value="Submit">
      </form>
    </ul>
  </body>
</html>