<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include ../views/partials/_header %>
    <ul>
      <% for (let shortID in urlsDatabase) { %>
        <li> <%= shortID + ": " + urlsDatabase[shortID] %>
          <form method="POST" action="/urls/<%= shortID %>/delete">
            <a href= "">Edit</a>
            <input type="submit" value="Delete">
          </form>
        </li>
      <% } %>
    </ul>
    <a href= "">create short new url</a>
  </body>
</html>